.goodPointsSection {
  position: relative;
  background-image: url("/ギャラリーセクション-背景.jpg");
  background-size: cover;
}
.goodPointsSection_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1140px;
}
.h2_heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Kiwi Maru";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #d98666;
  writing-mode: vertical-rl;
  z-index: 999;
}
.h2_heading span {
  display: block;
}
.goodPointsSection img {
  position: absolute;
}
.rightTop {
  top: 110px;
  right: -8vw;
  z-index: 10;
}
.leftTop {
  top: 340px;
  left: 0;
  z-index: 10;
}
.rightBottom {
  bottom: 240px;
  right: 4vw;
  z-index: 10;
}
.leftBottom {
  bottom: 180px;
  left: 24vw;
  z-index: 10;
}
.balloon1 {
  top: -66px;
    left: 8vw;
}
.balloon2 {
  top: 17px;
    left: 40vw;
}
.balloon3 {
  top: 79px;
    right: 6vw;
}
.balloon4 {
  top: 230px;
    left: 15vw;
}
.balloon5 {
  bottom: 32%;
    right: 7vw;
}
.balloon6 {
  bottom: 32%;
    left: 8vw;
}
.balloon7 {
  bottom: 9%;
    right: 29%;
}

